* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f9fa;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    color: #17c5d4;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}
.about {
    text-align: center;
    padding: 80px 20px;
    background-color: white;
}

.section-title {
    color: #17c5d4;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
}

.about h2 {
    font-size: 32px;
    color: #0a0a0a;
    font-weight: bold;
    margin-bottom: 10px;
}

.about p {
    font-size: 18px;
    color: gray;
    margin-bottom: 20px;
}

.about-features {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.about ul {
    list-style: none;
    padding: 0;
}

.about li {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin: 10px 0;
}

.navbar .active {
    color: #17c5d4;
    font-weight: bold;
    border-bottom: 2px solid #17c5d4;
    padding-bottom: 3px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.join-btn {
    text-decoration: none;
    background-color: #17c5d4;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #e3f2fd;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card i {
    font-size: 40px;
    color: #17c5d4;
}

.card h2 {
    font-size: 20px;
    margin: 10px 0;
}

.card p {
    font-size: 14px;
    color: rgb(136, 136, 134);
}

.highlight {
    background-color: #17c5d4;
    color: white;
}

.highlight i {
    
    color: rgb(230, 237, 231);
}

/* About Section */
.about {
    text-align: center;
    padding: 50px 20px;
}

.about h2 {
    font-size: 30px;
    color: #333;
}

.about p {
    font-size: 18px;
    color: gray;
}

.about ul {
    margin-top: 20px;
    list-style: none;
}

.about li {
    font-size: 16px;
    margin: 5px 0;
}

.courses-banner {
    text-align: center;
    background-color: #2c4b63;
    color: white;
    padding: 60px 20px;
}

.courses-banner h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.courses-banner p {
    font-size: 18px;
    color: #cbd5e1;
}

.popular-courses {
    text-align: center;
    padding: 60px 20px;
}

.section-title {
    color: #17c5d4;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
}

.popular-courses h2 {
    font-size: 32px;
    color: #0a0a0a;
    font-weight: bold;
    margin-bottom: 20px;
}

.courses-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.course-card {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.course-card h3 {
    font-size: 24px;
    color: #333;
}

.course-card p {
    color: #ffbf00;
}

.course-card h4 {
    font-size: 18px;
    margin-top: 10px;
}

.course-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: gray;
    margin-top: 15px;
}

.navbar .active {
    color: #17c5d4;
    font-weight: bold;
    border-bottom: 2px solid #12def0;
    padding-bottom: 3px;
}






